{% extends "page.html.twig" %}

{% block specificStyles %}
    <link rel="stylesheet" href="../public/css/dashboard.css" />
{% endblock %}

{% block content %}
    <h1>dashboard</h1>
{% endblock %}

{% block specificScripts %}
{% endblock %}
